.about-page {
    display: flex;
    width: 100%;
}

.about-container {
    margin-left: 25px;
}

.about-container h1,
.about-container h2 {
    color: #333;
}

.about-container p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #666;
}

.dark-theme .about-container h1,
.dark-theme .about-container h2,
.dark-theme .about-container p {
    color: var(--text-color);
}

.dark-theme .about-container a {
    color: var(--link-color);
}

@media (max-width: 1100px) {
    .about-page {
        flex-direction: column;
    }
}
