.article-page {
    display: flex;
    font-size: 1rem;
    line-height: 1.6;
}

.article-talk-container {
    margin-top: 25px;
    justify-content: space-between;
    width: 85vw;
    border-bottom: 1px solid #a2a9b1;
}

.article-talk-container a {
    margin-inline: 15px;

}

