.article-page {
    display: flex;
    font-size: 1rem;
    line-height: 1.6;
}

.article-page-container {
    width: 100%;
}

.article-talk-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-talk-container a {
    margin-inline: 15px;
}

.article-sections {
    width: auto;
}

.infobox {
    float: right;
    width: 27%;
}

.main-container::after {
    content: "";
    display: table;
    clear: both;
}
  
.article-content {
    margin-right: 25px;
}

.article-references ul {
    margin-right: 25px;
}

.article-delete-button {
    background: none;
    border: none;
    color: #0366d6;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.6;
}

.article-delete-button:hover {
    text-decoration: underline;
}

.dark-theme .article-page .infobox {
    background-color: var(--background-accent-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.dark-theme .article-page .infobox-title {
    color: black;
}

.dark-theme .article-section span {
    color: var(--text-color);
}

.dark-theme .selected-tab {
    color: var(--text-color) !important;
}

.dark-theme .reference-list-item a,
.dark-theme .article-talk-subcontainer a,
.dark-theme .edit-section-link {
    color: var(--link-color);
}

.dark-theme .article-delete-button,
.dark-theme .edit-article-container a {
    color: var(--link-color);
}

.dark-theme .featured-article h2,
.dark-theme .recent-updates h3 {
    color: var(--text-color);
}

@media (max-width: 600px) {
    .article-page {
        display: block;
    }

    .article-content {
        margin-inline: 10px;
    }

    .infobox {
        margin-left: 0;
        float: none;
        width: 100%;
    }

    .main-container {
        flex-direction: column;
    }

    .article-references ul {
        margin-right: 0;
    }
}
