.article-container {
    font-size: 1rem;
    line-height: 1.6;
}
  
.article-title {
    font-size: 2rem;
    margin-left: 15px;
    margin-bottom: 20px;
}
  
.article-content {
    margin-left: 15px;
    margin-bottom: 20px;
}

.article-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.section-head {
    display: flex;
}

.section-head span {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 7px;
}

.edit-section-link {
    margin-inline: 3px;
}

.article-references {
    border-top: 1px solid #a2a9b1;
}
  
.article-references h3 {
    font-size: 1.2rem;
    margin-left: 15px;
    margin-bottom: 10px;
}

.article-references ul {
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
}

.article-references ul li {
    margin-bottom: 5px;
}

.reference-link {
    font-size: 0.8em;
    vertical-align: super; 
    text-decoration: none; 
    color: #0645ad;
    background: none;
    padding: 0;
    border: none;
}

.reference-link:hover {
    text-decoration: underline;
}

.article-references ul li a {
    color: #0645ad;
    text-decoration: none;
}

.article-subcontainer.dual-section {
    display: flex;
    justify-content: space-between;
}

.article-section-image {
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-top: 10%;
}

.article-section-image img {
    max-width: 200px;  
    max-height: 300px;
    width: auto;  
    height: auto;
    object-fit: cover;
  }