.article-page {
    display: flex;
    font-size: 1rem;
    line-height: 1.6;
}

.article-page-container {
    width: 100%;
}

.article-talk-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-talk-container a {
    margin-inline: 15px;
}

.article-sections {
    width: auto;
}

.infobox {
    float: right;
    width: 27%;
}

.main-container::after {
    content: "";
    display: table;
    clear: both;
}
  
.article-content {
    margin-right: 25px;
}

.article-references ul {
    margin-right: 25px;
}

.article-delete-button {
    background: none;
    border: none;
    color: #0366d6;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.6;
}

.article-delete-button:hover {
    text-decoration: underline;
}
