.blog-page {
    display: flex;
    width: 100%;
    height: 100%;
}

.blog-page-container {
    display: flex;
    width: 100%;
    min-height: 65vh;
}

.blog-subcontainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.blog-sidebar {
    margin-left: 15px;
    border-left: 1px solid #a2a9b1;
    min-width: 20%;
}

.blog-sidebar ul {
    list-style-type: none;
}

.dark-theme .blog-sidebar {
    border-left: 1px solid var(--border-color);
}

.blog-sidebar h4 {
    margin-left: 15px;
    color: var(--text-color);
}

.blog-body {
    color: var(--text-color);
}

.dark-theme .blog-page h1 {
    color: var(--link-color);
}

html {
    scroll-behavior: smooth;
}

.blog-action-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.blog-action-buttons button {
    width: 125px;
}



@media (max-width: 600px) {
    .blog-page {
        display: block;
    }

    .blog-page-container {
        flex-direction: column;
    }

    .blog-sidebar {
        margin-inline: 15px;
    }

    .blog-sidebar h4 {
        text-align: center;
    }

}