.create-account-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 70vh;
}

h2 {
    margin-bottom: 20px;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

.username-input, .email-input, .password-input, .confirm-password-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-account-button {
    width: 325px;
    padding: 10px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-account-button:hover {
    background-color: #0056b3;
}
