.create-account-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 70vh;
}

h2 {
    margin-bottom: 20px;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

.username-input, .email-input, .password-input, .confirm-password-input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-account-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-account-button:hover {
    background-color: #0056b3;
}

.dark-theme .create-account-page {
    background-color: var(--background-color);
    color: var(--text-color);
}

.dark-theme .create-account-page a {
    color: var(--link-color);
}
  
.dark-theme .username-input,
.dark-theme .email-input,
.dark-theme .password-input,
.dark-theme .confirm-password-input {
    background-color: var(--input-background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.dark-theme .create-account-button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}
  
.dark-theme .create-account-button:hover {
    background-color: var(--button-background-hover-color);
}



