.dark-theme {
    --background-color: #1a1a1a;
    --text-color: #f0f0f0;
    --link-color: #5ea7ff;
    --border-color: #333333;
    --input-background-color: #333333;
    --button-background-color: #476ffe;
    --button-background-hover-color: #3451bb;
    --button-text-color: #f0f0f0;
}