.disclaimer-page {
    display: flex;
    line-height: 1.6;
}

.disclaimer-container {
    margin-left: 25px;
}

.dark-theme .disclaimer-container h1,
.dark-theme .disclaimer-container h2 {
    color: var(--text-color);
}

.dark-theme .disclaimer-container a {
    color: var(--link-color);
}

@media (max-width: 600px) {
    .disclaimer-page {
        display: block
    }
}