.edit-article-page {
    width: 100%;
}

.edit-article-container {
    width: 66%;
    min-height: 50vh;
    margin: 2em auto;
    background: #f7f7f7;
    border-radius: 8px;
    padding: 2em;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.edit-article-header {
    font-size: 1.8em;
    margin-bottom: 1.5em;
    text-align: center;
    color: #333;
}

.main-form-group {
    display: flex;
    margin-bottom: 1em;
}

.main-form-group label {
    margin-right: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.main-label {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.section-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-left: 5%;
    border-bottom: 1px solid #ccc;
}

.section-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.edit-section-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.edit-section-title {
    display: flex;
    align-items: center;
}

.edit-section-title label {
    margin-right: 1em;
}

.edit-section-title input {
    width: 350px;
}

.form-group label {
    margin-bottom: 0.5em;
    font-weight: 600;
    color: #555;
}

.form-group input[type="text"] {
    padding: 1em;
    font-size: 1em;
}

.section-content input[type="text"],
.section-content textarea,
.section-content input[type="file"] {
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-group input[type="file"] {
    padding: 0.5em;
}

.form-group textarea {
    resize: vertical;
    min-height: 10vh;
    padding: 1em;
}

.title-input {
    font-size: 1.33em;
    width: 350px;
}

.image-upload {
    margin-left: 25px;
}

.edit-article-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    text-align: center;
    align-self: flex-end;
}

.edit-article-button:hover {
    background-color: #0056b3;
}

.info-group {
    display: flex;
    justify-content: space-between;

}

.infobox-editor{
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 1em 0;
    padding: 1em;
    width: 55%;
}

.infobox-editor h3 {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.infoField {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.infoField span {
    margin-right: 10px;
    font-weight: bold;
}

.infoField input[type="checkbox"] {
    margin-left: 10px;
}

.ref-group {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: .75em 0;
    padding: 1em;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 33%;
    height: fit-content;
}

.reference {
    border-top: 1px solid #e1e1e1;
    padding: 10px 0;
}

.ref-source {
    margin-top: 15px;
}

.reference-name, .reference-url {
    width: 250px;
}

.reference:first-child {
    border-top: none;
}

.info-field-container {
    display: flex;
    margin-bottom: 1em;
}

.info-field-container label {
    margin-right: 1em;
}

.info-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.label-value-pairs {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    padding: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.label-value-pair {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

.add-intro-button, .add-reference-button, .add-section-button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    margin-block: 10px;
    width: 35px;
    align-self: flex-end;
}

.infofield-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.add-infofield-button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 5px 5px;
    margin-block: 10px;
    width: 25px;
    font-weight: bold;
    margin-left: 5px;
}

.remove-infofield-button {
    background-color: #ff4a4a;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 5px 5px;
    margin-block: 10px;
    width: 25px;
    font-weight: bold;
}

.delete-btn {
    display: block;
    background-color: #ff4a4a;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 5px 5px;
    margin-block: 10px;
    align-self: flex-end;
}

.delete-section {
    margin-block: 0 !important;
    align-self: flex-start !important;
}

.label-value-pair span {
    margin-bottom: 15px;
}

.infobox-img-preview {
    width:50px;
    height: 100%;
    object-fit: cover;
}

.color-preview {
    width: 20px;
    height: 20px;
    border-radius: 10px; 
    border: 1px solid #000; 
    display: inline-block;
    margin-left: 10px;
}