.footer-container {
    background-color: #f9f9f9;
    border-top: 1px solid #a2a9b1;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
}

.footer-subcontainer {
    display: flex;
    justify-content:center;
}
  
.footer-section {
    flex-basis: 20%; 
}
  
.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.footer-section ul li {
    margin-bottom: 5px;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
    color: #666;
}