.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #a2a9b1;
  }
  
.header-logo img {
    height: 50px;
}

.header-search input {
    padding: 5px;
    font-size: 1rem;
}
  