.home-container {
    display: flex;
    width: 100%;
}

.main-content{
    margin-inline: 25px;
}

.read-more-button {
    background-color: #0366d6;
    width: 85px;
    color: white;
    padding: 5px;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px #ccc;
    transition: background-color 0.3s;
}

.read-more-button:hover {
    background-color: #0552a5;
    font-weight: bold;
    text-decoration: none;
}

  
.dark-theme .read-more-button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.dark-theme .read-more-button:hover {
    background-color: var(--button-background-hover-color);
}


  