.infobox {
    background-color: #f8f9fa;
    color: black;
    padding: .25em;
    font-size: .85em;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    border: 1px solid #a2a9b1;
    min-width: 225px;
    height: fit-content;
    margin-left: 25px;
}

.infobox-title {    
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: .25em;
    padding: 5px; 
}

.infobox-header {
    font-size: 1rem;
}

.infobox-label {
    text-align: left;
}

.infobox-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.category-option option:hover {
    background-color: inherit !important;
}

.infobox-caption {
    text-align: center;
    margin-top: .25em;
}

.infobox-category-maroon { background-color: #800000; }
.infobox-category-chocolate { background-color: #D2691E; }
.infobox-category-salmon { background-color: #FA8072; }
.infobox-category-pink { background-color: #FFC0CB; }
.infobox-category-yellow { background-color: #FFFF00; }
.infobox-category-lavender { background-color: #B57EDC; }
.infobox-category-orange { background-color: #FFA500; }
.infobox-category-lightgreen { background-color: #90EE90; }
.infobox-category-darkseagreen { background-color: #8FBC8F; }
.infobox-category-lightblue { background-color: #ADD8E6; }
.infobox-category-darkturquoise { background-color: #00CED1; }
.infobox-category-deepskyblue { background-color: #00BFFF; }
.infobox-category-navy { background-color: #000080; }
.infobox-category-lightgrey { background-color: #D3D3D3; }
.infobox-category-black { background-color: #000000; }
.infobox-category-lightsteelblue { background-color: #B0C4DE; }
.infobox-category-powderblue { background-color: #B0E0E6; }




