.infobox {
    background-color: #f8f9fa;
    color: black;
    padding: .25em;
    font-size: .85em;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0,0.75);
    border: 1px solid #a2a9b1;
    min-width: 225px;
    height: fit-content;
    margin-left: 25px;
}

.infobox-title {    
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: .25em;
    background-color: #b0c4de;
    padding: 5px; 
}

.infobox-header {
    font-size: 1rem;
    background-color: #b0c4de;
}

.infobox-label {
    text-align: left;
}

.infobox-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.category-option option:hover {
    background-color: inherit !important;
}

.infobox-caption {
    text-align: center;
    margin-top: .25em;
}