.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 70vh;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.login-button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
}

.success-message {
    color: #4F8A10;
    padding: 10px;
}

.caps-lock-warning {
    align-self: center;
    font-weight: bold;
    text-align: center;
    width: 85px;
    padding: 5px 10px;
    background-color: #f8d7da; 
    color: #721c24; 
    border-radius: 8px;
    border: 1px solid #f5c6cb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    z-index: 10;
    margin-bottom: 10px;
}