.portals-page h1 {
    text-align: center;
    margin: 20px;
}

.portals-desc {
    margin-inline: 25px;
    margin-bottom: 3%;
}

.create-portal-link-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.portals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portal-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    max-height: 550px;
    min-height: fit-content;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.portal-card-img-container {
    width: 100%; 
    height: 250px; 
    display: flex;
    overflow: hidden; 
}

.portal-card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.portal-card-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.portal-card-bottom h2 {
    text-align: center;
}

.portal-card-bottom div {
    width: 100%;
}

.portal-card-head {
    margin-top: 10px;
    margin-bottom: 5px;
}

.portal-desc {
    margin-bottom: 25px;
}

.portal-link {
    align-self: center;
}


