.portals-page h1 {
    text-align: center;
    margin: 20px;
}

.portals-desc {
    margin-inline: 25px;
    margin-bottom: 3%;
}

.create-portal-link-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.portals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
}

.portal-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    max-height: 550px;
    min-height: fit-content;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.portal-card-img-container {
    width: 100%; 
    height: 100%;
    display: flex;
    overflow: hidden; 
}

.portal-card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.portal-card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.portal-card-bottom h2 {
    text-align: center;
}

.portal-card-bottom div {
    width: 100%;
}

.portal-card-head {
    margin-top: 10px;
    margin-bottom: 5px;
}

.portal-desc {
    margin-bottom: 25px;
}

.portal-link {
    align-self: center;
}

.portal-card-bottom-link {
    background-color: #0366d6;
    width: 85px;
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px #ccc;
    transition: background-color 0.3s;
}

.portal-card-bottom-link:hover {
    background-color: #0552a5;
    font-weight: bold;
    text-decoration: none;
}

.dark-theme .portals-page {
    background-color: var(--background-color);
    color: var(--text-color);
}

.dark-theme .portal-card {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.dark-theme .portal-card-bottom-link {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.dark-theme .portal-card-bottom-link:hover {
    background-color: var(--button-background-hover-color);
}


