.portal-home-page, 
.portal-description, 
.portal-home-header, 
.portal-home-header-links {
    display: flex;
    justify-content: space-between;
}

.portal-home-container {
    min-width: 75%;
}

.portal-side-menu {
    width: 25%;
    margin-right: 15px;
}

.portal-home-header {
    margin-right: 15px;
    align-items: center;
}

.portal-home-header h1 {
    margin-left: 15px;
}

.portal-home-header-links {
    margin-left: 15px;
    width: 200px;
}

.portal-description {
    margin-inline: 20px;
}

.portal-description p {
    margin-right: 15px;
}

.featured-article, .recent-updates {
    margin-inline: 20px;
}

.no-articles-found-msg {
    margin-inline: 20px;
}

.portal-image img {
    max-width: 100%;  
    height: auto;     
    max-height: 300px; 
}