.privacy-page {
    display: flex;
    line-height: 1.6;
}

.privacy-container {
    margin-left: 25px;
}

.dark-theme .privacy-container h1,
.dark-theme .privacy-container h2 {
    color: var(--text-color);
}

.dark-theme .privacy-container a {
    color: var(--link-color);
}

@media (max-width: 768px) {
    .privacy-page {
        display: block
    }
}