.talk-page {
    display: flex;
    font-size: 1rem;
    line-height: 1.6;
    width: 100%;
}

.talk-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.talk-head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}
  
.talk-container h1 {
    font-size: 1.5rem;
    margin-left: 25px;
    margin-bottom: 15px;
}

.talk-page-boilerplate {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-inline: 5%;
    background-color: #f8eaba;
    border: 1px solid #c0c090;
}

.talk-boiler {
    font-weight: bold;
    margin-bottom: 15px;
}

.talk-boiler-intro {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-inline: 5%;
}

.guidelines-container {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #c0c090;
}

.guidelines-list {
    padding-inline-start: 5px;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    border-right: 1px solid #c0c090;
}

.guidelines-list li:first-child {
    margin-top: 15px;
}

.guidelines-list li:last-child {
    margin-bottom: 15px;
}

.guidelines-contact {
    font-weight: bold;
    align-self: center;
    text-align: center;
}

.guidelines-line-item {
    margin-bottom: 0;
}

.article-talk-container {
    margin-top: 25px;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #a2a9b1;
}

.add-comment {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-inline: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
}

.add-comment textarea {
    height: 100px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 10px 10px;
    margin-block: 10px;
}

.add-comment-button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    margin-block: 10px;
    align-self: flex-end;
}

.discussion-message {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-inline: 15px;
    margin-bottom: 15px;
}

.create-topic-button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100px;
}

.create-topic-button:hover {
    background-color: #0056b3;
}

.add-comment-header {
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 15px;
}

.topics {
    margin-inline-start: 0;   
}

.topic {
    list-style: none;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    margin-right: 15px;
}

.topic-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.topic-title {
    display: flex;
    align-items: flex-start;
}

.topic-title h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.topic-title span {
    margin-left: 5px;
}

.topic-subhead {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.comment {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-top: 15px;
    padding-inline: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.comment-author {
    margin-right: 5px;
}

.comment-content p {
    display: inline;
}

.comment-content-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.comment-content-subcontainer {
    display: flex;
    align-items: flex-start;
}

.comment-edit-textarea {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 10px 10px;
}

.comment-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.comment-edit-button, .comment-save-button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    margin-block: 10px;
    margin-right: 5px;
}

.comment-delete-button, .comment-cancel-button {
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    margin-block: 10px;
}

.comment-error {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.dark-theme .talk-page {
    background-color: var(--background-color);
    color: var(--text-color);
}

.dark-theme .talk-page-boilerplate {
    background-color: var(--talk-boilerplate-background-color);
    border: 1px solid var(--border-color);
}

.dark-theme .guidelines-container {
    border-top: 1px solid var(--border-color);
}

.dark-theme .guidelines-list {
    border-right: 1px solid var(--border-color);
}

.dark-theme .article-talk-container {
    border-bottom: 1px solid var(--border-color);
}

.dark-theme .add-comment {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.dark-theme .add-comment textarea {
    background-color: var(--input-background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.dark-theme .add-comment-button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

.dark-theme .topic {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.dark-theme .comment {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.dark-theme .comment-edit-textarea {
    background-color: var(--input-background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.dark-theme .comment-edit-button,
.dark-theme .comment-save-button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

.dark-theme .comment-delete-button,
.dark-theme .comment-cancel-button {
    background-color: var(--delete-button-background-color);
    color: var(--button-text-color);
}

@media (max-width: 600px) {
    .talk-page {
        flex-direction: column;
    }

    .guidelines-container {
        flex-direction: column;
    }

    .guidelines-list {
        border-right: none;
        border-bottom: 1px solid #c0c090;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .guidelines-list li {
        margin-left: 15px;
    }

    .guidelines-contact {
        margin-inline: 25px;
        margin-bottom: 15px;
    }
}
  