.talk-page {
    display: flex;
    font-size: 1rem;
    line-height: 1.6;
    width: 100%;
}
  
.talk-container h1 {
    font-size: 1.5rem;
    margin-left: 25px;
    margin-bottom: 15px;
}

.talk-container ul {
    margin-left: 25px;
}

.article-talk-container {
    margin-top: 25px;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #a2a9b1;
}
  