a {
    color: #0366d6;
    text-decoration: none;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.app-container > :nth-child(1) {
    flex: 1;
}

.home-page, .article-page, .about-page, .contact-page {
    min-height: 75vh;
}

.selected-tab {
    color: black;
    text-decoration: underline;
}

.footer {
    flex-shrink: 0;
}
