body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.app-container > :nth-child(1) {
    flex: 1;
}

.home-page, .article-page, .about-page, .contact-page, .talk-page, .tos-page {
    min-height: 76vh;
}

.selected-tab {
    color: black;
    text-decoration: underline;
}

.footer {
    flex-shrink: 0;
}
