body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.app-container > :nth-child(1) {
    flex: 1;
}

.home-page, .article-page, .about-page, .contact-page, .talk-page, .tos-page, .disclaimer-page, .privacy-page, .contribute-page, .donate-page {
    min-height: 76vh;
}

.selected-tab {
    color: black;
    text-decoration: underline;
}

.footer {
    flex-shrink: 0;
}

#back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #333;
    color: #FFF;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 75px;
}
  
#back-to-top:hover {
    background-color: #555; 
}
